@media screen and (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        
        padding: 1rem;
    }
    header h1 {
        display: flex;
        font-size: 2rem;
        color: white;
        
        text-align: center;
    }
    #menu {
        display: none;
    }
    #materials {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        gap: 1rem;
        padding: 1rem;
    }
    
    
    #menu-option {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        background: none;
        align-items: center;
        position: static;
    
        
        
    }
    .hero img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        margin: 0 auto;
    }


}