@media screen and (min-width: 700px) {
    #menu {
        display: none;

    }

    #menu-option {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        
    }
    #album {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 20px;
        padding: 20px;
        background-color: #f9f9f9;
    }
    .temple-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        background-color: #fff;
        padding: 15px;
    }

    .temple-card img {
        width: 100%;
        height: auto;
        border-bottom: 1px solod #ddd;
        object-fit: cover;
    }
}